.card-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 5px;
}
.card-container .card {
  width: 320px;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1450980392);
  margin: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.card-container .card .head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card-container .card .head .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}
.card-container .card .head .user img {
  width: 2rem;
  height: 2rem;
}
.card-container .card .head .user span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}
.card-container .card .head .title {
  margin-right: 20px;
}
.card-container .card .head .title a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}
.card-container .card .head .tag {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #fff;
}
.card-container .card .head .tag.html {
  background-color: var(--orange);
  box-shadow: 0 0 3px var(--orange);
}
.card-container .card .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.card-container .card .body .question {
  font-size: 15px;
  font-weight: 600;
}
.card-container .card .body .question a {
  color: gray;
  font-weight: 600;
  text-decoration: none;
}
.card-container .card .body .hr {
  width: 80%;
  height: 2px;
  background-color: #eee;
  margin: 5px 0;
}
.card-container .card .body .numberOfAnswer {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}
.card-container .card .body .relatedLinks {
  display: flex;
}
.card-container .card .body .relatedLinks .box {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.card-container .card .body .relatedLinks .box.instagram {
  background-color: var(--red);
  box-shadow: 0 0 6px var(--red);
}
.card-container .card .body .relatedLinks .box.github {
  background-color: var(--black);
  box-shadow: 0 0 6px var(--black);
}
.card-container .card .body .relatedLinks .box:nth-child(2) {
  margin-left: 12px;
}
.card-container .card .foot {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
.card-container .card .foot .date {
  font-size: 12px;
  font-weight: 600;
}
.card-container .card .foot span {
  font-weight: 600;
}
.card-container .card .foot a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  color: gray;
}
.card-container .card .foot a:hover {
  color: #000;
}
.card-container .card:hover {
  transform: scale(1.02);
}
.card-container .card:hover .head .title a {
  text-decoration: underline;
}
.card-container .card:hover .body a {
  text-decoration: underline;
}
.card-container .card:hover .foot a {
  text-decoration: underline;
}/*# sourceMappingURL=Card.css.map */