@media only screen and (min-width: 768px) and (max-width: 989px) {
	#ProfileContainer {
		.body {
			.forms {
				flex-direction: column;
				justify-content: center !important;
				align-items: center !important;

				.settings {
					margin-left: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
}

// TABLET
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#ProfileContainer {
		.body {
			.forms {
				flex-direction: column;
				justify-content: center !important;
				align-items: center !important;

				.settings {
					margin-left: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
}

// PHONE
@media only screen and (max-width: 479px) {
	#ProfileContainer {
		width: 90% !important;
		.body {
			.forms {
				flex-direction: column;
				justify-content: center !important;
				align-items: center !important;

				.settings {
					margin-left: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
}
