.product-container {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem auto;
	position: relative;
}

.product-container > div {
	width: 15rem;
	margin: 1rem;
}

.product-container .title {
	font-weight: 600;
	position: absolute;
	top: -2rem;
	left: 0;
}
