@import url("./responsive.css");
#HeaderContainer {
  height: 60px;
  box-shadow: 0 3px 9px #eee;
}
#HeaderContainer .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
#HeaderContainer .container .responsive-menu {
  display: none;
}
#HeaderContainer .container .responsive-menu .icon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
#HeaderContainer .container .responsive-menu .open-icon {
  display: none;
}
#HeaderContainer .container .responsive-menu .close-icon {
  width: 100%;
  padding: 0 20px;
  text-align: right;
  position: absolute;
  top: 10px;
  left: 0;
  color: gray;
  transition: all 0.2s ease;
}
#HeaderContainer .container .responsive-menu .close-icon:hover {
  color: #000;
}
#HeaderContainer .container .responsive-menu .menu {
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.1s ease-in-out;
}
#HeaderContainer .container .responsive-menu .button {
  text-align: center;
}
#HeaderContainer .container .responsive-menu .button .green-btn {
  display: block;
}
#HeaderContainer .container .responsive-menu .menu {
  margin-left: 0;
}
#HeaderContainer .container .responsive-menu .menu ul {
  display: block;
}
#HeaderContainer .container .responsive-menu .menu ul li {
  font-size: 12px;
  padding: 20px 8px;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
}
#HeaderContainer .container .responsive-menu .menu ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}
#HeaderContainer .container .responsive-menu .menu ul li a:hover {
  color: #000;
}
#HeaderContainer .container .responsive-menu .menu ul li.active {
  border-color: var(--green);
}
#HeaderContainer .container .responsive-menu .menu ul li.active a {
  color: #000;
}
#HeaderContainer .container .left {
  display: flex;
  align-items: center;
  flex: 3;
}
#HeaderContainer .container .left .title {
  font-size: 18px;
}
#HeaderContainer .container .left .title a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}
#HeaderContainer .container .left .menu {
  margin-left: 16px;
}
#HeaderContainer .container .left .menu ul {
  display: flex;
}
#HeaderContainer .container .left .menu ul li {
  font-size: 12px;
  padding: 20px 8px;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
}
#HeaderContainer .container .left .menu ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}
#HeaderContainer .container .left .menu ul li a:hover {
  color: #000;
}
#HeaderContainer .container .left .menu ul li.active {
  border-color: var(--green);
}
#HeaderContainer .container .left .menu ul li.active a {
  color: #000;
}
#HeaderContainer .container .right {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end;
}
#HeaderContainer .container .right .search {
  position: relative;
}
#HeaderContainer .container .right .search input {
  width: 17rem;
  padding: 10px 2rem;
  border-radius: 10px;
  box-shadow: 0 6px 12px #eee;
  border: 1px solid #eee;
  outline: none;
  font-weight: 500;
}
#HeaderContainer .container .right .search span {
  position: absolute;
  top: 8px;
  left: 10px;
  color: gray;
}
#HeaderContainer .container .right .button {
  margin-left: 18px;
}
#HeaderContainer .container .right .user-menu {
  margin-left: 10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}
#HeaderContainer .container .right .user-menu .icon {
  position: absolute;
  top: -13px;
  right: 5px;
  color: white;
}
#HeaderContainer .container .right .user-menu .list {
  width: 13rem;
  position: absolute;
  top: 70px;
  right: 1.5rem;
  padding: 2px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.0705882353);
  border-radius: 3px;
  display: none;
}
#HeaderContainer .container .right .user-menu .list li a {
  padding: 12px 16px;
  display: block;
  font-size: 14px;
  color: #000;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  transition: all 0.2s ease;
  background-color: #fff;
}
#HeaderContainer .container .right .user-menu .list li a:not(.logout):hover {
  border-color: var(--green);
  color: var(--green);
  padding-left: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.0705882353);
}
#HeaderContainer .container .right .user-menu .list li a.logout:hover {
  border-color: var(--red);
  color: var(--red);
  padding-left: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.0705882353);
}
#HeaderContainer .container .right .user-menu .list li a span {
  color: gray;
  margin-right: 8px;
}
#HeaderContainer .container .right .user-menu.active {
  color: var(--green);
  background-color: var(--greenOpacity2);
}
#HeaderContainer .container .right .user-menu:hover {
  color: var(--green);
  background-color: var(--greenOpacity2);
}
#HeaderContainer .sub-menu {
  padding: 18px;
  padding-bottom: 0;
  background-color: #f8f9fa;
}
#HeaderContainer .sub-menu .title {
  font-weight: 700;
  font-size: 24px;
  color: gray;
}
#HeaderContainer .sub-menu ul {
  display: flex;
}
#HeaderContainer .sub-menu ul li {
  padding: 8px 10px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--gray);
}
#HeaderContainer .sub-menu ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}
#HeaderContainer .sub-menu ul li a:hover {
  color: #000;
}
#HeaderContainer .sub-menu ul li.active {
  border-color: var(--green);
}
#HeaderContainer .sub-menu ul li.active a {
  color: #000;
}/*# sourceMappingURL=header.css.map */