.title {
  color: gold; }
  .title a {
    color: gold; }
  .title a:hover {
    color: gold; }

.SpecialButton,
.SpecialButtonGreen,
.SpecialButtonRed {
  width: 100%;
  padding: .8rem .6rem;
  border-radius: .3rem;
  color: #fff;
  transition: all .2s ease;
  font-family: "Poppins";
  font-size: 0.85rem;
  font-weight: 700; }

.SpecialButton {
  border: 2px solid gold;
  background-color: gold; }

.SpecialButton:hover {
  border-color: #fff;
  box-shadow: 0 0 6px gold; }

.SpecialButtonGreen {
  border: 2px solid green;
  background-color: green; }

.SpecialButtonGreen:hover {
  border-color: #fff;
  box-shadow: 0 0 6px green; }

.SpecialButtonRed {
  border: 2px solid red;
  background-color: red; }

.SpecialButtonRed:hover {
  border-color: #fff;
  box-shadow: 0 0 6px red; }

#Link-Navigate ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins";
  font-size: 0.9rem;
  font-weight: 600; }

#Link-Navigate ul li {
  opacity: .5; }

#Link-Navigate ul span {
  font-size: .6rem;
  margin: 0 .5rem;
  opacity: .5; }

#Link-Navigate ul li a {
  color: gold;
  transition: all .2s ease; }

#Link-Navigate ul li a:hover {
  color: goldenrod; }

.input:not([type="checkbox"]) {
  width: 100%;
  padding: .6rem 2rem;
  border: 2px solid #eee;
  background-color: #eee;
  border-radius: .2rem;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 700;
  transition: all .2s ease; }

.input:not([type="checkbox"]):focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 6px #ccc;
  border-color: #fff; }

.group {
  display: flex;
  flex-wrap: auto;
  align-items: center;
  justify-content: space-between; }

.middle-title {
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: 700; }

#Slider-Container {
  width: 100%;
  height: 23rem;
  overflow: hidden !important;
  border-bottom: 1px solid #eee;
  box-shadow: 0 5px 12px #eee;
  position: relative; }

#Slider-Container .container {
  height: 100%;
  position: relative; }

#Slider-Container .slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: auto;
  align-items: center;
  justify-content: center; }

#Slider-Container .slider div {
  width: 40%;
  height: 90%;
  padding: 0 1.5rem;
  border-radius: 1rem;
  overflow: hidden; }

#Slider-Container .slider div.content {
  box-shadow: 0 0 6px #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }

#Slider-Container .slider div.image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

#Slider-Container .slider div.image img {
  width: 70%;
  height: 100%; }

#Slider-Container .slider div.content p:nth-child(2) {
  font-family: "Poppins";
  font-size: 0.9rem;
  font-weight: 400; }

#Slider-Container .slider div.content button {
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 3rem;
  padding: .6rem 1rem;
  transition: all .2s ease;
  border: 2px solid #0954df;
  background-color: #0954df;
  box-shadow: 0 0 6px #0954df;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 600; }

#Slider-Container .slider div.content button:hover {
  box-shadow: 0 0 12px #0954df;
  background-color: #0549c8;
  border-color: #fff; }

#Slider-Container .navigate {
  width: 100%;
  position: relative; }

#Slider-Container .navigate ul {
  padding: 0 1rem;
  display: flex;
  flex-wrap: auto;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0; }

#Slider-Container .navigate ul li {
  width: 1rem;
  height: .5rem;
  cursor: pointer;
  margin: 0 .3rem;
  border-radius: .3rem;
  border: 2px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 6px #ccc;
  transition: all .2s ease; }

#Slider-Container .navigate ul li.active {
  width: 2rem;
  border-color: gold;
  background-color: gold;
  box-shadow: 0 0 6px gold; }

#Slider-Container .slider-btn {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-wrap: auto;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 0; }

#Slider-Container .slider-btn button {
  border: none;
  background-color: transparent;
  color: #ccc;
  font-size: 1.3rem; }

#Slider-Container .slider-btn button:hover {
  color: gray; }

#Campaign-Container {
  padding: 0;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

#Campaign-Container .item {
  width: 24%;
  height: 10rem;
  padding: .5rem;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border-radius: .3rem;
  transition: all .2s ease;
  background-color: #fff;
  box-shadow: 0 0 6px #eee, 0 0 3px #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: auto;
  align-items: space-between;
  justify-content: center; }

#Campaign-Container .item:hover {
  z-index: 999;
  transform: scale(1.09);
  box-shadow: 0 0 12px #eee, 0 0 6px #ccc; }

#Campaign-Container .item .item-title {
  opacity: .8;
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: 600; }

#Campaign-Container .item .item-button button {
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  border-radius: .2rem;
  padding: .3rem .4rem;
  background-color: gold;
  border: 2px solid #fff; }

#Campaign-Container .item .item-button button:focus {
  box-shadow: 0 0 6px gold;
  outline: 2px solid goldenrod; }

#Campaign-Container .item .item-time {
  color: gray;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 600; }
